nav{
	background: #803c42;
}
body{
	margin: 0;
	opacity: 0.8;
	background: #000000;
}
.footer {
    width: 100%;
    margin: 0 auto;

}


#text1 {
	opacity: 1;
	background-color: #ffffff;
	

}

h1{
	color: #ffffff;
	text-align: center;
}

h3{
	color: #ffffff;
	
}
	
